<!DOCTYPE html>
<head>
    <title> evaluation page</title>
    <link rel="stylesheet" href="../static/css/evaluate.css">
</head>
<body>
    <h1 class = 'title'>{{model}} model evalution</h1>

    <p class = 'eval'>
        <div class = 'report'>
            {{report | safe}}
        </div>
        <div class ='score'>
            train_score is: {{train_score}}<br>
            test-score is: {{test_score}}<br>
        </div>
        
        
    </p>

    <button class="btn btn-primary" onClick="location.href='/'" type="button"> main page</button>
</body>