<!DOCTYPE html>
<head>
    <title> Model page</title>
    <link rel="stylesheet" href="../static/css/train.css">
</head>
<body> 
    <h3 class ='title'> Training model</h3>
    <form action="/evaluation" method ='get' class="form">
        <!-- choose data to train the model-->
        <div class ='options'>
            <label for="fname"> data type</label><br>
            <select name="data_type" class="form-select form-select-lg mb-3"  aria-label=".form-select-lg example">
                <option value="normal">normal data</option>
                <option value="undersapmled"> undersampled</option>
                <option value="oversampled"> oversampled</option>
            </select>
        </div>
        <!--choose model to train it-->
        <div class = 'options'>
            <label for="fname">models</label><br>
            <select name="model" class="form-select form-select-lg mb-3"  saria-label=".form-select-lg example">
                <option value="lr"> Linear Regression</option>
                <option value="knn">K-neighbor(KNN)</option>
                <option value="svm"> Support Vector Machine(SVM)</option>
            </select>
        </div>
        <!-- button to move to the next page after selecting-->
        <div>
            <button class="btn btn-primary"  type="submit"> Train </button>
            <button class="btn btn-primary" onClick="location.href='/'" type="button"> Return to main page </button>
        </div>
        
    </form>
    
    
</body>